flows/WooriFisa.json
{
  "name": "WooriFisa POC 2",
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an intelligent assistant acting as a teaching assistant (TA)\nfor the \"우리FISA 클라우드 엔지니어링\" course.\n\n────────────────────────────────\nRole & Response Style (MANDATORY)\n────────────────────────────────\n\nYour role:\n- Support learners by answering questions clearly and practically.\n- Explain concepts in a calm, professional, but approachable teaching-assistant tone.\n- Guide learners using course-aligned explanations rather than overly academic or vague answers.\n\nResponse style rules:\n- Always respond in Korean.\n- Always use 해요체.\n- Tone must resemble a university TA in their early-to-mid 20s:\n  - Calm, friendly, and supportive\n  - Clear and direct explanations\n  - Not casual slang, not overly formal\n- Be straightforward; do not speak vaguely.\n- Respect conventional and widely accepted practices.\n- Think with future learning continuity in mind.\n\n────────────────────────────────\nSystem Time Tool (HIGHEST PRIORITY)\n────────────────────────────────\n\nA tool is available that returns the current date and time in Korea (KST).\n\nRules:\n- If the user question contains any time- or date-related expression, you MUST use this tool FIRST.\n- Examples of triggers include: 오늘, 지금, 현재, 이번 주, 다음 주, 어제, 내일, 날짜, 요일, 몇 주차, 기준일, 시작일, 마감일\n- Relative expressions MUST be resolved using the returned Korean current date/time.\n\n────────────────────────────────\nData Sources (Priority Order)\n────────────────────────────────\n\nAlways follow this strict retrieval order for any question:\n\n1) System Time Tool (today’s date in KST)\n2) Blog vector store (Velog, Tistory)\n3) MySQL fisa_schedule table\n4) Lecture vector store (Notion URLs only)\n5) OpenAI Search Tool (supplementary, optional, for verification only)\n\n────────────────────────────────\nData Source Details\n────────────────────────────────\n\n1) MySQL: fisa_schedule table\n- Columns:\n  - schedule_date (DATE)\n  - main_schedule (TEXT)\n  - detail_schedule (TEXT)\n  - special_lecture (TEXT)\n  - exam (BOOLEAN)\n  - extra_schedule (TEXT)\n- Highest authority for schedule-related questions: 일정, 오늘, 다음주, 과제, 진도, 계획, 마감, 스케줄, 주차, n주차\n- Weekly ranges are derived from schedule_date, based on the official start date and System Time Tool.\n\n2) Blog vector store\n- Study journal posts written by learners\n- metadata.type = \"blog\"\n- URLs from Velog or Tistory\n- Primary source for learning content\n\n3) Lecture vector store\n- Official course lecture materials\n- metadata.type = \"lecture\"\n- URLs must be from Notion\n- Used to reinforce or formalize blog explanations\n\n4) OpenAI Search Tool (SUPPLEMENTARY)\n- Used only for refinement or verification of technical explanations\n- Must not override blog or lecture content\n- Must align with course scope\n\n────────────────────────────────\nQuestion Classification (MANDATORY)\n────────────────────────────────\n\nClassify every user question into one or more of:\n\n- \"일정 질문\"\n- \"수업 내용 질문\"\n- \"일반 질문\"\n\nRules:\n- 날짜·시간 표현 포함 → 일정 질문\n- 기술, 개념, 도구 → 수업 내용 질문\n- 과정 소개, 제도, 기타 → 일반 질문\n\n────────────────────────────────\nEnhanced Retrieval Strategy for \"수업 내용 질문\"\n────────────────────────────────\n\nStep 1. Blog-first Retrieval\n- Always search Blog vector store first\n- Priority:\n  1) Week reference (n주차) if present\n  2) Core technical keywords from the user question\n- Retrieve only metadata.type = \"blog\"\n\nStep 2. Keyword Extraction\n- Extract key technical terms from blog content:\n  - Technologies\n  - Core concepts\n  - Tools, commands, services\n- Use ONLY these keywords to search Lecture vector store\n\nStep 3. Lecture Retrieval\n- Search Lecture vector store using blog-derived keywords only\n- Only metadata.type = \"lecture\"\n- URLs must be from Notion\n\nStep 4. OpenAI Search Tool (OPTIONAL)\n- Only if blog + lecture content is:\n  - Insufficient\n  - Slightly outdated\n  - Lacking clarity\n- Purpose: confirm correctness, improve explanation\n- Must be clearly framed as “보충 설명” or “일반적인 기준”\n\nStep 5. Answer Composition\n- Core explanation: Blog content\n- Reinforce/validate: Lecture content\n- Optional refinement: OpenAI search\n- If conflict: Lecture > Blog > Search\n\n────────────────────────────────\nLearning Category (ONLY for 수업 내용 질문)\n────────────────────────────────\n\nAssign exactly one:\n- 자바\n- 스프링\n- n8n\n- ELK(elasticsearch, logstash, kibana)\n- 도커\n- 쿠버네티스\n- 리눅스\n- 클라우드\n- AWS\n\nIf NOT a learning question:\n- Category = \"ETC\"\n\n────────────────────────────────\nOutput Format (TEXT ONLY)\n────────────────────────────────\n\nAlways respond using plain text in the following order:\n\n1. 질문 유형\n2. 답변\n3. 학습 카테고리\n4. 일정 (MySQL 기반, 해당될 때만)\n5. 수업 자료 (Lectures)\n6. 블로그 자료 (Blogs)\n\nRules:\n- Never invent URLs\n- Lecture URLs: Notion only\n- Blog URLs: Velog or Tistory only\n- Explicitly state when data is missing\n\n────────────────────────────────\nGlobal Rules\n────────────────────────────────\n\n- Always use System Time Tool first if question contains any date/time expression\n- Blog search is the primary source for learning content\n- MySQL schedule data has the highest authority for 일정\n- Blog → Lecture → OpenAI Search is the strict order for learning explanations\n- Do NOT mention internal retrieval steps or decision logic in the final answer\n- Always follow the fixed order: 오늘 날짜 확인 → 블로그 검색 → 일정 확인 → 교안 확인\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-720, 1792],
      "id": "639098ae-be2f-4a04-8f6c-5fdabdc8d159",
      "name": "Chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "={{ $json.pages.length }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-448, 1360],
      "id": "a17656d2-ac6c-4098-8f13-96337f680994",
      "name": "크롤링 결과 판단(Notion 교안)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1344, 320],
      "id": "ca03acbd-c2ff-4d7f-8eba-c73214d7c919",
      "name": "주간 크롤러"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1344, 1360],
      "id": "dfe46e0a-02f3-4e10-b387-bd5972c2b0e7",
      "name": "일간 크롤러"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.searchPosts.posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-896, 320],
      "id": "a59eeea5-4481-4f18-a0a7-c19edc25be4f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://velog.io/@{{ $('1개씩').item.json.user.username }}/{{ $('1개씩').item.json.url_slug }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [448, 0],
      "id": "d912c583-3b43-4425-87aa-cc754a05e0a3",
      "name": "상세정보 가져오기",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-224, 320],
      "id": "57abbd58-3298-4b93-8d73-ac0bf9d0b0b5",
      "name": "1개씩"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1344, 896],
      "id": "a5f4b3a2-06fd-4063-879c-5b95bd53f444",
      "name": "주간 크롤러1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const text = item.json.data\n  .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]*>/g, '')\n  .trim();\n  item.json.data = text;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 0],
      "id": "73f25a35-9fba-4bb9-b1df-6d66e9d53b67",
      "name": "HTML 태그 제거"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1840, 304],
      "id": "b2054f95-00ed-41dc-8afb-582a64963f22",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-1344, 1968],
      "id": "db12e594-e166-49c4-a2e8-7377a8a153a0",
      "name": "When chat message received",
      "webhookId": "6cb24967-894f-41cb-8bb3-457d418e5d63"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-lectures",
          "mode": "list",
          "cachedResultName": "woorifisa-lectures"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [448, 1232],
      "id": "a2a14709-baff-470c-82dd-c95dc9d29227",
      "name": "교안 스토어",
      "credentials": {
        "pineconeApi": {
          "id": "liPAvxokzuWwqssg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [576, 1456],
      "id": "c3712c6f-860b-487b-9b2b-d671ef16104a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-1120, 2016],
      "id": "63c97b93-0975-4510-b9b2-b5ed59513f74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1696, 304],
      "id": "e9bf7a46-bdfd-4bc4-b763-43aa33ab7f5b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [448, 1456],
      "id": "edf61986-28d4-4cd6-afbe-2a39a298cd38",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [0, 1360],
      "id": "0169caa9-cfb3-4815-a578-73a70aab1224",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "function generateEmbedding(){\n  const title = \"title: \" + $input.first().json.title;\n  const content = \"content: \" + $input.first().json.content;\n  const url = \"url: \" + $input.first().json.url;\n\n  return title + \"\\n\" + content + \"\\n\" + url + \"\\n\";\n}\n\nreturn [{\n  embedding: generateEmbedding()\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 1232],
      "id": "bdf268e3-7852-495c-9f86-14b0d3437393",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [-784, 2224],
      "id": "f2ff0435-b139-44d8-8e8e-35498a19b543",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [-496, 2224],
      "id": "5c514472-39c5-4636-930d-ebd95d29c120",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a retrieval-based assistant.\n\nThe knowledge base is a unified vector store containing embedded documents.\nEach document includes a metadata field called \"type\" that identifies its source:\n\n- type: \"material\" → official lecture materials and course handouts\n- type: \"blog\" → study journal blog posts written during learning\n\nThe lecture materials are related to:\n- Java Spring\n- Docker\n- Cloud and infrastructure concepts\n\nEach document includes:\n- Content\n- A title\n- A brief summary\n- A reference (file name, document link, or URL)\n\nWhen a user asks a question, follow these rules strictly:\n\n1. Retrieve the most relevant documents from the vector store using semantic similarity.\n2. Use ONLY the retrieved documents to construct the answer.\n3. Do NOT use prior knowledge, general knowledge, or assumptions.\n4. Separate retrieved documents based on their \"type\" metadata:\n   - Documents with type \"material\" must be placed in the \"materials\" array.\n   - Documents with type \"blog\" must be placed in the \"blogs\" array.\n\nResponse rules:\n- The response MUST be returned strictly in JSON format.\n- Do NOT include any text outside the JSON response.\n- Do NOT invent or infer any information.\n- Use only the exact metadata provided in the retrieved documents.\n- If no relevant documents exist for a section, return an empty array for that section.\n\nThe JSON response must follow this exact structure:\n\n{\n  \"answer\": string,\n  \"materials\": [\n    {\n      \"title\": string,\n      \"summary\": string,\n      \"reference\": string\n    }\n  ],\n  \"blogs\": [\n    {\n      \"title\": string,\n      \"summary\": string,\n      \"link\": string\n    }\n  ]\n}\n\nAdditional constraints:\n- \"materials\" and \"blogs\" must always be arrays.\n- Include only documents that are directly relevant to the user's question.\n- If no documents are relevant at all, return an empty array for both \"materials\" and \"blogs\", and keep \"answer\" concise and based only on retrieved content (or empty if nothing is retrieved).\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-lectures",
          "mode": "list",
          "cachedResultName": "woorifisa-lectures"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [-864, 2016],
      "id": "2940129e-0701-4d66-9831-fda3bbc0fb72",
      "name": "lecture store(read)",
      "credentials": {
        "pineconeApi": {
          "id": "liPAvxokzuWwqssg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "수업 교안자료\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [-576, 2016],
      "id": "2f1fca2b-dfdc-47a1-bc35-ad5e5868a7d5",
      "name": "blog store(read)",
      "credentials": {
        "pineconeApi": {
          "id": "liPAvxokzuWwqssg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "={{ $input.all().isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-448, 896],
      "id": "338acbf2-bff4-4737-a96c-b86ecf49c9b7",
      "name": "0개 이상1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-224, 896],
      "id": "6443a2a0-e2df-44de-ac83-cc0e57be28e8",
      "name": "1개씩1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that transforms educational materials into a format **optimized for semantic embedding**.\n\nInput:\n- Lecture notes, blog learning logs, study materials, etc.\n- Technology scope: Java Spring, Docker, Cloud/Infrastructure\n- Input data may include title, content, url, source, and other metadata\n\nOutput Goals:\n- Do **not summarize**; preserve full learning structure and conceptual flow\n- Explicitly clarify learning topics and scope\n- Highlight step-by-step learning progression or sequence\n- Clearly explain relationships between key technologies, concepts, and tools\n- Convert lists or bullet points into coherent explanatory sentences\n- Emphasize curriculum order, learning progression, and conceptual grouping\n- Include original URLs for reference\n- Output format: JSON with a single field `\"embedding_text\"` containing **one continuous string**\n\nExample Output:\n\n{\n  \"embedding_text\": \"Java Spring learning materials are structured around the MVC pattern, explaining the roles and relationships of Model, View, and Controller. The Model handles data and business logic, the View provides the user interface, and the Controller manages requests and connects the Model and View. Additionally, DAO and DTO patterns optimize data access and transfer. The step-by-step learning sequence progresses from basic syntax → object-oriented programming → database integration → Spring MVC structure → hands-on exercises. URL: https://example.com\"\n}\n\nRules:\n1. Never summarize; maintain the full conceptual and learning flow\n2. Do not add information that is not present in the input\n3. Output must be JSON with only one field `\"embedding_text\"` as a single string\n4. Keep technical terms in English without translating\n"
            },
            {
              "content": "=data: {{ $json.data }}\nurl: \"https://velog.io/@{{ $json.user.username }}/{{ $json.url_slug }}\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1120, 80],
      "id": "04047aa8-7997-454f-8044-8ab3b82762b4",
      "name": "임베딩 문서 최적화",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that transforms educational materials into a format **optimized for semantic embedding**.\n\nInput:\n- Lecture notes, blog learning logs, study materials, etc.\n- Technology scope: Java Spring, Docker, Cloud/Infrastructure\n- Input data may include title, content, url, source, and other metadata\n\nOutput Goals:\n- Do **not summarize**; preserve full learning structure and conceptual flow\n- Explicitly clarify learning topics and scope\n- Highlight step-by-step learning progression or sequence\n- Clearly explain relationships between key technologies, concepts, and tools\n- Convert lists or bullet points into coherent explanatory sentences\n- Emphasize curriculum order, learning progression, and conceptual grouping\n- Include original URLs for reference\n- Output format: JSON with a single field `\"embedding_text\"` containing **one continuous string**\n\nExample Output:\n\n{\n  \"embedding_text\": \"Java Spring learning materials are structured around the MVC pattern, explaining the roles and relationships of Model, View, and Controller. The Model handles data and business logic, the View provides the user interface, and the Controller manages requests and connects the Model and View. Additionally, DAO and DTO patterns optimize data access and transfer. The step-by-step learning sequence progresses from basic syntax → object-oriented programming → database integration → Spring MVC structure → hands-on exercises. URL: https://example.com\"\n}\n\nRules:\n1. Never summarize; maintain the full conceptual and learning flow\n2. Do not add information that is not present in the input\n3. Output must be JSON with only one field `\"embedding_text\"` as a single string\n4. Keep technical terms in English without translating\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [448, 656],
      "id": "0f536ca7-3c7d-4682-9247-4f61941d0970",
      "name": "임베딩 문서 최적화 2",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1024, 880],
      "id": "ec0c2380-3aee-4827-9720-41c9b17516d0",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "UzZRdpR4SL1clSaD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1152, 880],
      "id": "c9f4cb87-f90b-4bb1-b882-2dcb5ea17a82",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2445c0b2-9c27-4c74-89de-165fb7091d95",
              "leftValue": "={{ $json.released_at }}",
              "rightValue": "={{  $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "1ddaec4a-7fa8-401e-bf13-08dec78e2d03",
              "leftValue": "={{ $json.released_at }}",
              "rightValue": "={{ $now.minus(1, 'year' ) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-672, 320],
      "id": "03c0d742-345e-474c-9907-a41ef63aae28",
      "name": "저번주 데이터만 필터(임시 1년)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edd1ffb1-520a-4c2d-85aa-06bf229a92fe",
              "leftValue": "={{ $json.published_date }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "2e9cb341-a99e-434c-a2b0-6a72fd7bfa9f",
              "leftValue": "={{ $json.published_date }}",
              "rightValue": "={{ $now.minus(1, 'year') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-672, 896],
      "id": "0cc5424e-674d-4690-9e64-b0f195ec1ba6",
      "name": "저번주 데이터만 필터(임시 1년)2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.tistory_posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-896, 896],
      "id": "34a68d45-6476-4580-bb25-18971263901c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  embedding: JSON.parse($input.first().json.output[0].content[0].text).embedding_text\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 656],
      "id": "12c95daf-fde8-4535-9c77-8e2bc3c872de",
      "name": "임베딩 추출"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  embedding: JSON.parse($input.first().json.output[0].content[0].text).embedding_text\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1472, 80],
      "id": "55771fb2-3c3f-4f8e-b79b-720524044bc4",
      "name": "임베딩 추출2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1024, 656],
      "id": "66625cdc-fdf3-4c9a-b605-08c9cedc9d39",
      "name": "블로그 store(저장)",
      "credentials": {
        "pineconeApi": {
          "id": "liPAvxokzuWwqssg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1696, 80],
      "id": "0057f4f0-91e6-4550-8779-60b37bbff889",
      "name": "블로그 스토어 저장2",
      "credentials": {
        "pineconeApi": {
          "id": "liPAvxokzuWwqssg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [-1120, 896],
      "id": "e6a7a6f1-8100-45e7-8132-24193b071c77",
      "name": "tistory 크롤러",
      "credentials": {
        "firecrawlApi": {
          "id": "zEoiHdysjwKutTdl",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.velog.io/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query SearchPosts($keyword: String!, $offset: Int, $username: String) {       searchPosts(keyword: $keyword, offset: $offset, username: $username) {         count         posts {           id           title           short_description           thumbnail           user {             id             username             profile {               id               thumbnail               display_name               __typename             }             __typename           }           url_slug           released_at           tags           is_private           comments_count           __typename         }         __typename       }     }"
            },
            {
              "name": "variables",
              "value": "{\"keyword\": \"우리fisa 클라우드 엔지니어링\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-1120, 320],
      "id": "929ecf69-2c63-4ae6-8d34-4f2550c2bfc2",
      "name": "velog 크롤러",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 섹션별 분리\nfunction extract(label, text) {\n  const regex = new RegExp(`${label}[\\\\s\\\\S]*?(?=\\\\n\\\\d+\\\\. |$)`, \"g\");\n  const match = text.match(regex);\n  if (!match) return \"\";\n  return match[0].replace(label, \"\").trim();\n}\n\nfor (const item of $input.all()) {\n   // 섹션 추출\n  const raw = item.json.output;\n  const questionType = extract(\"1. 질문 유형\",raw);\n  const generalAnswer = extract(\"2. 답변\",raw);\n  const category = extract(\"3. 학습 카테고리\",raw);\n  const schedule = extract(\"4. 일정\",raw);\n  const lectures = extract(\"5. 수업 자료\",raw);\n  const blogs = extract(\"6. 블로그 자료\",raw);\n  \n  // 현재 시간\n  const now = new Date().toISOString();\n\n  return {\n      질문유형: questionType,\n      학습카테고리: category,\n      답변: generalAnswer,\n      일정: schedule,\n      수업자료: lectures,\n      블로그자료: blogs,\n      생성일시: now\n    }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [48, 1792],
      "id": "57cde3a6-1521-4873-a07d-5cbd4f47cf45",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [272, 1968],
      "id": "9e1d2394-5548-4514-9313-6c8273053963",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [-992, 2016],
      "id": "f1f8da8c-27bd-4acc-995a-e7f43586b442",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "qKd1lvP0f6TAaw71",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "fisa_chat_histories",
          "mode": "list",
          "cachedResultName": "fisa_chat_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "question_type",
              "value": "={{ $json['질문유형'] }}"
            },
            {
              "column": "learning_category",
              "value": "={{ $json['학습카테고리'] }}"
            },
            {
              "column": "general_answer",
              "value": "={{ $json['답변'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [496, 1968],
      "id": "23fdca55-af19-4890-a886-ed3796110dca",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fisa_schedule",
          "mode": "list",
          "cachedResultName": "fisa_schedule"
        },
        "limit": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [-288, 2016],
      "id": "100f1e9f-13a9-4334-b04c-7958510445e7",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "={{ $input.all().isNotEmpty() }}",
              "rightValue": {},
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-448, 320],
      "id": "636a56c8-da49-4904-8f54-1b42fcc21126",
      "name": "0개 이상"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fisa_crawl_histories",
          "mode": "list",
          "cachedResultName": "fisa_crawl_histories"
        },
        "where": {
          "values": [
            {
              "column": "url",
              "value": "=https://velog.io/@{{ $json.user.username }}/{{ $json.url_slug }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [0, 0],
      "id": "57241df9-9ac0-48c5-a33e-1217a08aa8e9",
      "name": "중복 데이터 확인",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "fisa_crawl_histories",
          "mode": "list",
          "cachedResultName": "fisa_crawl_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source_type",
              "value": "blog"
            },
            {
              "column": "url",
              "value": "=https://velog.io/@{{ $('Merge').item.json.user.username }}/{{ $('Merge').item.json.url_slug }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [2048, 208],
      "id": "040dbb06-8baa-4652-8396-47e621ed6df9",
      "name": "블로그 크롤링 정보 저장",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2eb0f95a-4558-4687-b230-ab68e41c49ac",
              "leftValue": "={{$json.values() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [224, 0],
      "id": "859243ff-c0a0-45e5-8283-d35409ac92bf",
      "name": "중복이 아닌 경우"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fisa_crawl_histories",
          "mode": "list",
          "cachedResultName": "fisa_crawl_histories"
        },
        "where": {
          "values": [
            {
              "column": "url",
              "value": "=https://velog.io/@{{ $json.user.username }}/{{ $json.url_slug }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [0, 656],
      "id": "24ec6d42-5924-4cb8-814a-0abd4b7f6e63",
      "name": "중복 데이터 확인1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd9783cd-f5de-437f-93b7-2dc6a459eacc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [224, 656],
      "id": "66d00f66-b5c3-440a-84b3-ab2c330b325f",
      "name": "If"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "fisa_crawl_histories",
          "mode": "list",
          "cachedResultName": "fisa_crawl_histories"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source_type",
              "value": "blog"
            },
            {
              "column": "url",
              "value": "={{ $('0개 이상1').first().json.source_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [1376, 784],
      "id": "360057f7-d1f3-4fe5-96fc-ddb552eee773",
      "name": "블로그 크롤링 정보 저장1",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "fisa_crawl_history",
          "mode": "list",
          "cachedResultName": "fisa_crawl_history"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source_type",
              "value": "notion"
            },
            {
              "column": "url",
              "value": "={{ $('Loop Over Items2').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [800, 1360],
      "id": "760adb2b-2958-44ba-9f7d-319de8e3bb51",
      "name": "Insert rows in a table1",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://notion-crawler:3000/crawl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "excludeUrls",
              "value": "={{ $json.urls }}"
            }
          ]
        },
        "options": {
          "timeout": 100000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-672, 1360],
      "id": "fd798d09-fbf2-40bb-a28b-318e822f777c",
      "name": "교안 노션 크롤러"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-224, 1360],
      "id": "344188cb-c829-4128-b8fd-f8880ee30fb5",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst urls = [];\nfor (const item of $input.all()) {\n  urls.push(item.json.url)\n}\n\nreturn {\n  urls\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, 1360],
      "id": "be0f09ee-71ff-46ec-a19e-46cb0accf696",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [896, 80],
      "id": "77ebcfaa-5a99-47f0-911a-aadc2efe79b3",
      "name": "Merge"
    },
    {
      "parameters": {
        "description": "You can call the MCP to retrieve the current date and time\nbased on the user's locale and timezone.\n\nYou MUST call the MCP in the following cases:\n- When the user mentions relative dates such as:\n  \"today\", \"tomorrow\", \"yesterday\", \"this week\", \"next week\", or similar expressions\n- When calculating schedules, deadlines, or plans that depend on the current date\n- When resolving expressions like \"n days later\", \"this month\", or \"next month\"\n\nThe MCP returns the current date and time adjusted to the user's locale.\nAlways use the MCP result as the source of truth for \"now\".\n\nDo NOT assume or hardcode the current date or time.\nDo NOT calculate relative dates without calling the MCP first.\n",
        "jsCode": "return new Date().toLocaleString('ko-KR', {\n  timeZone: 'Asia/Seoul'\n})\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [-160, 2016],
      "id": "11e34838-d327-4143-a6c1-f24e5509a9d4",
      "name": "현재날짜 반환"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "fisa_crawl_histories",
          "mode": "list",
          "cachedResultName": "fisa_crawl_histories"
        },
        "where": {
          "values": [
            {
              "column": "source_type",
              "value": "notion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [-1120, 1360],
      "id": "1ac15ed4-46b8-4c7c-aba2-d4db77e6f7bf",
      "name": "크롤링url 조회",
      "credentials": {
        "mySql": {
          "id": "OJtNhMocRmaFEQ1u",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chatbot": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "크롤링 결과 판단(Notion 교안)": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주간 크롤러": {
      "main": [
        [
          {
            "node": "velog 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일간 크롤러": {
      "main": [
        [
          {
            "node": "크롤링url 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "저번주 데이터만 필터(임시 1년)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상세정보 가져오기": {
      "main": [
        [
          {
            "node": "HTML 태그 제거",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1개씩": {
      "main": [
        [],
        [
          {
            "node": "중복 데이터 확인",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "주간 크롤러1": {
      "main": [
        [
          {
            "node": "tistory 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 태그 제거": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chatbot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "교안 스토어": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "교안 스토어",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "교안 스토어",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "교안 스토어",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "lecture store(read)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "blog store(read)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "lecture store(read)": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "blog store(read)": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "0개 이상1": {
      "main": [
        [
          {
            "node": "1개씩1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1개씩1": {
      "main": [
        [],
        [
          {
            "node": "중복 데이터 확인1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 문서 최적화": {
      "main": [
        [
          {
            "node": "임베딩 추출2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 문서 최적화 2": {
      "main": [
        [
          {
            "node": "임베딩 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "저번주 데이터만 필터(임시 1년)": {
      "main": [
        [
          {
            "node": "0개 이상",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저번주 데이터만 필터(임시 1년)2": {
      "main": [
        [
          {
            "node": "0개 이상1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "저번주 데이터만 필터(임시 1년)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 추출": {
      "main": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 추출2": {
      "main": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 store(저장)": {
      "main": [
        [
          {
            "node": "블로그 크롤링 정보 저장1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 스토어 저장2": {
      "main": [
        [
          {
            "node": "블로그 크롤링 정보 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tistory 크롤러": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "velog 크롤러": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chatbot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "0개 이상": {
      "main": [
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 데이터 확인": {
      "main": [
        [
          {
            "node": "중복이 아닌 경우",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 크롤링 정보 저장": {
      "main": [
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복이 아닌 경우": {
      "main": [
        [
          {
            "node": "상세정보 가져오기",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 데이터 확인1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "임베딩 문서 최적화 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1개씩1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 크롤링 정보 저장1": {
      "main": [
        [
          {
            "node": "1개씩1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "교안 노션 크롤러": {
      "main": [
        [
          {
            "node": "크롤링 결과 판단(Notion 교안)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "교안 노션 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "임베딩 문서 최적화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "현재날짜 반환": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "크롤링url 조회": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dfdfab31-d21e-4c37-afdb-f05ef0f43ae0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "899f531d8c4993e42e164a2b585a08e3143bf9aeaef763cb76802e8ee89acbc6"
  },
  "id": "GfCJcwyNnfsLve_tE6mqy",
  "tags": []
}
