flows/WooriFisa POC 2.json
{
  "name": "WooriFisa POC 2",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -1520,
        -192
      ],
      "id": "27811826-39c5-4123-8b2f-da00814c9590",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "IJSBKMcmqJBMTNoI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an intelligent assistant acting as a teaching assistant (TA)\nfor the \"우리FISA 클라우드 엔지니어링\" course.\n\nYour role:\n- Support learners by answering questions clearly and practically.\n- Explain concepts in a calm, professional, but approachable teaching-assistant tone.\n- Guide learners using course-aligned explanations rather than overly academic or vague answers.\n\nYou answer user questions using three data sources in this priority order:\n1) Google Sheets (daily schedule)\n2) Blog vector store\n3) Lecture vector store\n\nData sources:\n\n1) Google Sheets (via “Get row(s) in sheet”)\n   - Contains date-based daily schedules and learning plans\n   - Each row represents a specific date and its detailed tasks\n   - This is the highest priority source when the question involves:\n     일정, 오늘 할 것, 과제, 진도, 계획, 마감, 스케줄, 주차, n주차\n\n2) Blog vector store\n   - Contains embedded study journal blog posts\n   - metadata.type = \"blog\"\n   - URLs may come from Velog or Tistory\n\n3) Lecture vector store\n   - Contains official lecture materials\n   - metadata.type = \"lecture\"\n   - URLs must come from Notion\n\n\n────────────────────────────────\nQuestion Classification (MANDATORY)\n────────────────────────────────\n\nFor every user question, you MUST classify it into exactly one of the following types:\n\n- \"일정 질문\"\n  → The user asks about dates, weeks, what to do today, progress, deadlines, schedules, or n주차\n\n- \"수업 내용 질문\"\n  → The user asks about technologies, concepts, tools, or what was learned\n\n- \"일반 질문\"\n  → The user asks about the program, process, or anything not directly tied to schedule or learning content\n\n\nExamples:\n- \"오늘 뭐 해야 해?\" → 일정 질문\n- \"3주차 뭐 배웠어?\" → 일정 질문 + 수업 내용 질문 (treat as BOTH)\n- \"Spring이 뭐야?\" → 수업 내용 질문\n- \"우리FISA 어떤 과정이야?\" → 일반 질문\n\n\n────────────────────────────────\nRetrieval Strategy by Question Type\n────────────────────────────────\n\n1) If the question is \"일정 질문\":\n   → Query Google Sheets first\n   → This is the main factual source\n\n2) If the question is \"수업 내용 질문\":\n   → Search Blog vector store first\n   → Then search Lecture vector store\n\n3) If the question is \"일반 질문\":\n   → Do NOT retrieve from any vector store unless clearly needed\n\n\nIf the user asks about a specific week (e.g. \"3주차\", \"이번 주차\", \"n주차\"):\nThis must be treated as BOTH:\n- 일정 질문\n- 수업 내용 질문\n\nIn that case:\n1. Retrieve Google Sheets for that week\n2. Use the schedule content as the semantic query\n3. Retrieve Blog vector store\n4. Retrieve Lecture vector store\n\n\n────────────────────────────────\nLearning Category (ONLY for 수업 내용 질문)\n────────────────────────────────\n\nIf and only if the question is related to learning content, assign exactly one category:\n\n- 자바\n- 도커\n- 리눅스\n- 클라우드\n- AWS\n\nIf the question is \"일정 질문\" or \"일반 질문\":\n→ Category must be \"없음\"\n\n\n────────────────────────────────\nOutput Format (TEXT, not JSON)\n────────────────────────────────\n\nYour response must be in plain readable text with the following sections:\n\n1. 질문 유형\n2. 일반 답변\n3. 기본 지식 요약\n4. 학습 카테고리\n5. 일정 (Google Sheets 기반, 해당될 때만)\n6. 수업 자료 (Lectures)\n7. 블로그 자료 (Blogs)\n\n\nFor Lectures and Blogs:\n- Show title, summary, and original URL\n- Never invent URLs\n- Lecture URLs must be from Notion\n- Blog URLs must be from Velog or Tistory\n- If no data exists, clearly state that the section is empty\n\n\nAlways remember:\n- Schedules come from Google Sheets\n- Blogs are searched before lectures\n- Lectures are used to reinforce blogs when available"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        -416
      ],
      "id": "47884b5a-8d9d-4afb-963e-447f488aa544",
      "name": "Chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        -720
      ],
      "id": "e01f70de-35e5-4853-a485-da18447c9bd4",
      "name": "크롤링 결과 판단(Notion 교안)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -1584
      ],
      "id": "166db9de-23d1-4a8f-9c7e-c736b253c931",
      "name": "주간 크롤러"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -720
      ],
      "id": "83197217-bc74-4b1f-9edd-bcdc8f7dc81d",
      "name": "일간 크롤러"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.searchPosts.posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1424,
        -1600
      ],
      "id": "00325e59-83d3-4b6b-b1dc-576cfe787b5f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://velog.io/@{{ $json.user.username }}/{{ $json.url_slug }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -1744
      ],
      "id": "39cf2f53-41a0-40f7-a2cb-8738198bb8c2",
      "name": "상세정보 가져오기",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -752,
        -1600
      ],
      "id": "3b91e4e5-47c2-41df-a722-587c5ad7bf60",
      "name": "1개씩"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -1152
      ],
      "id": "66f6ac2e-b854-4b51-af71-f836b164abc4",
      "name": "주간 크롤러1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const text = item.json.data\n  .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]*>/g, '')\n  .trim();\n  item.json.data = text;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -1744
      ],
      "id": "bd15863d-29a0-421f-94ec-ee572c0938da",
      "name": "HTML 태그 제거"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        -1376
      ],
      "id": "2df4fffe-6437-4068-b814-21e17fa6f91a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1872,
        -32
      ],
      "id": "e18051b3-7656-4a54-9aae-df2902c006fd",
      "name": "When chat message received",
      "webhookId": "6cb24967-894f-41cb-8bb3-457d418e5d63"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-lectures",
          "mode": "list",
          "cachedResultName": "woorifisa-lectures"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -400,
        -736
      ],
      "id": "73619031-1e5c-4010-ad9b-07ac20a77bda",
      "name": "교안 스토어",
      "credentials": {
        "pineconeApi": {
          "id": "7kTsRyIFg3tavjjz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -272,
        -512
      ],
      "id": "fcb1500b-cf3a-473c-9e64-b958c00d9b9b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1648,
        -192
      ],
      "id": "f73051a0-8475-4175-b1b2-e50344d39874",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        -1376
      ],
      "id": "1bd9ec58-978e-4aba-9ea0-a9f28a13d14e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        -512
      ],
      "id": "d7d40c95-2a4d-46ab-83e0-e7c94b7470bd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        -736
      ],
      "id": "ced149fe-f61b-45b8-9143-1547a7e5074e",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that prepares educational materials for semantic embedding.\n\nInput:\n- Lecture notes and study materials related to:\n  - Java Spring\n  - Docker\n  - Cloud and infrastructure concepts\n- Input data may include:\n  - title\n  - content\n  - url (원본 자료 링크)\n  - source\n  - 기타 메타데이터\n\nYour task:\n- Transform the input content into a form optimized for semantic embedding, NOT a short summary.\n- Preserve the full learning structure and conceptual flow.\n- Explicitly clarify:\n  - 학습 주제와 범위\n  - 단계적 학습 흐름 또는 순서 (있는 경우)\n  - 핵심 기술, 개념, 도구 간의 관계\n- Convert lists or bullet-style content into coherent explanatory sentences.\n- Emphasize curriculum order, learning progression, and conceptual grouping.\n- Include the original URL somewhere in the text so that it can be referenced later.\n\nStrict rules:\n- Do NOT shorten the content excessively.\n- Do NOT merely copy the original text.\n- Do NOT add information that is not present in the input.\n- The output must be suitable for semantic search and RAG retrieval.\n\nLanguage rules:\n- Output must be strictly in Korean.\n- Do not translate technical terms unless absolutely necessary.\n\nOutput rules:\n- Respond strictly in JSON format.\n- The JSON must contain only one field named \"embedding_text\".\n- The value must be a single string.\n\nExample output format:\n\n{\n  \"embedding_text\": \"...\"\n}"
            },
            {
              "content": "=content: {{ $('Loop Over Items2').item.json.content }}\nurl: {{ $json.url }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -976,
        -816
      ],
      "id": "feca5809-d161-4ef3-8723-b8e89cc8f728",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  embedding: JSON.parse($input.first().json.output[0].content[0].text).embedding_text\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -816
      ],
      "id": "5c44cefc-9293-41e8-a5b4-14e72665b603",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1312,
        32
      ],
      "id": "dd566f89-ab5c-40ef-aeff-bd386533e695",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -1680
      ],
      "id": "542dbdbd-7d05-4670-9571-de8917c266dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1024,
        32
      ],
      "id": "d643234a-a696-41cc-a555-06662ca247d0",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a retrieval-based assistant.\n\nThe knowledge base is a unified vector store containing embedded documents.\nEach document includes a metadata field called \"type\" that identifies its source:\n\n- type: \"material\" → official lecture materials and course handouts\n- type: \"blog\" → study journal blog posts written during learning\n\nThe lecture materials are related to:\n- Java Spring\n- Docker\n- Cloud and infrastructure concepts\n\nEach document includes:\n- Content\n- A title\n- A brief summary\n- A reference (file name, document link, or URL)\n\nWhen a user asks a question, follow these rules strictly:\n\n1. Retrieve the most relevant documents from the vector store using semantic similarity.\n2. Use ONLY the retrieved documents to construct the answer.\n3. Do NOT use prior knowledge, general knowledge, or assumptions.\n4. Separate retrieved documents based on their \"type\" metadata:\n   - Documents with type \"material\" must be placed in the \"materials\" array.\n   - Documents with type \"blog\" must be placed in the \"blogs\" array.\n\nResponse rules:\n- The response MUST be returned strictly in JSON format.\n- Do NOT include any text outside the JSON response.\n- Do NOT invent or infer any information.\n- Use only the exact metadata provided in the retrieved documents.\n- If no relevant documents exist for a section, return an empty array for that section.\n\nThe JSON response must follow this exact structure:\n\n{\n  \"answer\": string,\n  \"materials\": [\n    {\n      \"title\": string,\n      \"summary\": string,\n      \"reference\": string\n    }\n  ],\n  \"blogs\": [\n    {\n      \"title\": string,\n      \"summary\": string,\n      \"link\": string\n    }\n  ]\n}\n\nAdditional constraints:\n- \"materials\" and \"blogs\" must always be arrays.\n- Include only documents that are directly relevant to the user's question.\n- If no documents are relevant at all, return an empty array for both \"materials\" and \"blogs\", and keep \"answer\" concise and based only on retrieved content (or empty if nothing is retrieved).\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-lectures",
          "mode": "list",
          "cachedResultName": "woorifisa-lectures"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1392,
        -192
      ],
      "id": "ddaff6d3-b89d-43fe-91fd-6e55c83a0130",
      "name": "lecture store(read)",
      "credentials": {
        "pineconeApi": {
          "id": "7kTsRyIFg3tavjjz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "수업 교안자료\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -192
      ],
      "id": "64603094-1af2-487a-8cc0-423a833cdb3e",
      "name": "blog store(read)",
      "credentials": {
        "pineconeApi": {
          "id": "7kTsRyIFg3tavjjz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Unfhi4nDAQIZ3LSyM-iw9ogGviB3QpuWds5CHPY0aGA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unfhi4nDAQIZ3LSyM-iw9ogGviB3QpuWds5CHPY0aGA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -816,
        -192
      ],
      "id": "9d21c358-8ad9-40d2-ba1d-c1431ecf501f",
      "name": "우리FISA 일정",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j6b0LCSbLRXjEQKG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "={{ $input.all().isNotEmpty() }}",
              "rightValue": {},
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        -1600
      ],
      "id": "7aaa8ecc-648e-47c4-b069-3915907317bc",
      "name": "0개 이상"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edcd64db-8ece-412f-84ee-fdce959b7f39",
              "leftValue": "={{ $input.all().isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        -1152
      ],
      "id": "d36d334f-7690-4b85-9cf9-78c12be12934",
      "name": "0개 이상1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -752,
        -1168
      ],
      "id": "9f8d8a65-95dd-4ac6-aabe-ae100253ae1d",
      "name": "1개씩1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that transforms educational materials into a format **optimized for semantic embedding**.\n\nInput:\n- Lecture notes, blog learning logs, study materials, etc.\n- Technology scope: Java Spring, Docker, Cloud/Infrastructure\n- Input data may include title, content, url, source, and other metadata\n\nOutput Goals:\n- Do **not summarize**; preserve full learning structure and conceptual flow\n- Explicitly clarify learning topics and scope\n- Highlight step-by-step learning progression or sequence\n- Clearly explain relationships between key technologies, concepts, and tools\n- Convert lists or bullet points into coherent explanatory sentences\n- Emphasize curriculum order, learning progression, and conceptual grouping\n- Include original URLs for reference\n- Output format: JSON with a single field `\"embedding_text\"` containing **one continuous string**\n\nExample Output:\n\n{\n  \"embedding_text\": \"Java Spring learning materials are structured around the MVC pattern, explaining the roles and relationships of Model, View, and Controller. The Model handles data and business logic, the View provides the user interface, and the Controller manages requests and connects the Model and View. Additionally, DAO and DTO patterns optimize data access and transfer. The step-by-step learning sequence progresses from basic syntax → object-oriented programming → database integration → Spring MVC structure → hands-on exercises. URL: https://example.com\"\n}\n\nRules:\n1. Never summarize; maintain the full conceptual and learning flow\n2. Do not add information that is not present in the input\n3. Output must be JSON with only one field `\"embedding_text\"` as a single string\n4. Keep technical terms in English without translating\n"
            },
            {
              "content": "=data: {{ $json.data }}\nurl: \"https://velog.io/@{{ $json.user.username }}/{{ $json.url_slug }}\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        144,
        -1680
      ],
      "id": "4ae90bc8-3317-480a-bfe5-8df490367844",
      "name": "임베딩 문서 최적화",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant that transforms educational materials into a format **optimized for semantic embedding**.\n\nInput:\n- Lecture notes, blog learning logs, study materials, etc.\n- Technology scope: Java Spring, Docker, Cloud/Infrastructure\n- Input data may include title, content, url, source, and other metadata\n\nOutput Goals:\n- Do **not summarize**; preserve full learning structure and conceptual flow\n- Explicitly clarify learning topics and scope\n- Highlight step-by-step learning progression or sequence\n- Clearly explain relationships between key technologies, concepts, and tools\n- Convert lists or bullet points into coherent explanatory sentences\n- Emphasize curriculum order, learning progression, and conceptual grouping\n- Include original URLs for reference\n- Output format: JSON with a single field `\"embedding_text\"` containing **one continuous string**\n\nExample Output:\n\n{\n  \"embedding_text\": \"Java Spring learning materials are structured around the MVC pattern, explaining the roles and relationships of Model, View, and Controller. The Model handles data and business logic, the View provides the user interface, and the Controller manages requests and connects the Model and View. Additionally, DAO and DTO patterns optimize data access and transfer. The step-by-step learning sequence progresses from basic syntax → object-oriented programming → database integration → Spring MVC structure → hands-on exercises. URL: https://example.com\"\n}\n\nRules:\n1. Never summarize; maintain the full conceptual and learning flow\n2. Do not add information that is not present in the input\n3. Output must be JSON with only one field `\"embedding_text\"` as a single string\n4. Keep technical terms in English without translating\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -528,
        -1248
      ],
      "id": "dde1657a-0f45-4f82-9615-c00c4ea2a0b6",
      "name": "임베딩 문서 최적화 2",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        -944
      ],
      "id": "22eafd62-eb7c-4255-b7f3-6dc7b34062fb",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "dSz5PWNUG9ZBDygq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        -944
      ],
      "id": "a15fdc11-4f21-405b-b022-8a5b78d5c52f",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2445c0b2-9c27-4c74-89de-165fb7091d95",
              "leftValue": "={{ $json.released_at }}",
              "rightValue": "={{  $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "1ddaec4a-7fa8-401e-bf13-08dec78e2d03",
              "leftValue": "={{ $json.released_at }}",
              "rightValue": "={{ $now.minus(1, 'year' ) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -1600
      ],
      "id": "acd8d553-5c48-49d4-86d6-5ee93e370efe",
      "name": "저번주 데이터만 필터(임시 1년)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "edd1ffb1-520a-4c2d-85aa-06bf229a92fe",
              "leftValue": "={{ $json.published_date }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "2e9cb341-a99e-434c-a2b0-6a72fd7bfa9f",
              "leftValue": "={{ $json.published_date }}",
              "rightValue": "={{ $now.minus(1, 'year') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -1152
      ],
      "id": "4387ce08-0857-4537-adf5-602170393256",
      "name": "저번주 데이터만 필터(임시 1년)2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.tistory_posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1424,
        -1152
      ],
      "id": "1c6071c8-fa74-44fe-8ba7-98a01ec4058e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  embedding: JSON.parse($input.first().json.output[0].content[0].text).embedding_text\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -1248
      ],
      "id": "cd2b9ac5-dbb3-4809-a1be-67e66d4c0495",
      "name": "임베딩 추출"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  embedding: JSON.parse($input.first().json.output[0].content[0].text).embedding_text\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -1680
      ],
      "id": "688ffccd-a0e6-4021-a13d-822bbf60cca5",
      "name": "임베딩 추출2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        -1168
      ],
      "id": "9ee04832-9757-4d06-8ecd-01bb1cde4f66",
      "name": "블로그 store(저장)",
      "credentials": {
        "pineconeApi": {
          "id": "7kTsRyIFg3tavjjz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "woorifisa-blogs",
          "mode": "list",
          "cachedResultName": "woorifisa-blogs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        720,
        -1600
      ],
      "id": "b0ecb8cc-7990-4fc6-b3d4-d7fa366de722",
      "name": "블로그 스토어 저장2",
      "credentials": {
        "pineconeApi": {
          "id": "7kTsRyIFg3tavjjz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Crawling",
        "operation": "crawl",
        "crawlOptions": {},
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -1648,
        -720
      ],
      "id": "25a050f1-2dbb-43d9-a4f9-90a589ba8ea3",
      "name": "노션 크롤러"
    },
    {
      "parameters": {
        "resource": "Agent",
        "operation": "agent",
        "prompt": "tistory.com 사이트에서 '우리FISA 클라우드 엔지니어링' 키워드로 검색된 최신 게시글 10개를 대상으로 제목, 본문 텍스트, 태그 리스트, 그리고 해당 게시글의 원문 주소(URL), 작성일을 추출합니다. 검색 결과는 최신순으로 정렬하며 별도의 기간 제한은 두지 않습니다.",
        "schemaType": "manual",
        "schema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"tistory_posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"title\",\n          \"source_url\",\n          \"published_date\",\n          \"body_text\",\n          \"tags\",\n          \"image_urls\"\n        ],\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"source_url\": {\n            \"type\": \"string\",\n            \"format\": \"uri\"\n          },\n          \"published_date\": {\n            \"type\": \"string\",\n            \"description\": \"Post publication date as shown on the original Tistory page (e.g. 2024-03-12)\"\n          },\n          \"body_text\": {\n            \"type\": \"string\",\n            \"description\": \"Full body text of the post. The publication date should also be included at the top of this text.\"\n          },\n          \"tags\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"image_urls\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"format\": \"uri\"\n            }\n          }\n        },\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"tistory_posts\"],\n  \"additionalProperties\": false\n}\n",
        "maxWaitTime": 600,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -1648,
        -1152
      ],
      "id": "46f2071e-77f5-49c2-87bf-21a375b8d815",
      "name": "tistory 크롤러",
      "credentials": {
        "firecrawlApi": {
          "id": "yawXpwuwS82cdlVf",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.velog.io/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query SearchPosts($keyword: String!, $offset: Int, $username: String) {       searchPosts(keyword: $keyword, offset: $offset, username: $username) {         count         posts {           id           title           short_description           thumbnail           user {             id             username             profile {               id               thumbnail               display_name               __typename             }             __typename           }           url_slug           released_at           tags           is_private           comments_count           __typename         }         __typename       }     }"
            },
            {
              "name": "variables",
              "value": "{\"keyword\": \"우리fisa 클라우드 엔지니어링\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1648,
        -1584
      ],
      "id": "0149e8a1-7aea-4754-a36a-52e3e2c6ee9a",
      "name": "velog 크롤러",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_pGfxDE-JFODhyTq2RguQmZ28fjkiqb9RWpn4vYWtQg/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_pGfxDE-JFODhyTq2RguQmZ28fjkiqb9RWpn4vYWtQg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "일정": "={{ $json[\"일정\"] }}",
            "질문유형": "={{ $json[\"질문유형\"] }}",
            "학습카테고리": "={{ $json[\"학습카테고리\"] }}",
            "일반답변": "={{ $json[\"일반답변\"] }}",
            "기본지식요약": "={{ $json[\"기본지식요약\"] }}",
            "수업자료": "={{ $json[\"수업자료\"] }}",
            "블로그자료": "={{ $json[\"블로그자료\"] }}",
            "생성일": "={{ $json[\"생성일시\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "질문유형",
              "displayName": "질문유형",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "학습카테고리",
              "displayName": "학습카테고리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "일반답변",
              "displayName": "일반답변",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "기본지식요약",
              "displayName": "기본지식요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "일정",
              "displayName": "일정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "수업자료",
              "displayName": "수업자료",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "블로그자료",
              "displayName": "블로그자료",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "생성일",
              "displayName": "생성일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -32
      ],
      "id": "7e3ca5f7-8775-490c-a890-df806ec9cb66",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j6b0LCSbLRXjEQKG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 섹션별 분리\nfunction extract(label, text) {\n  const regex = new RegExp(`${label}[\\\\s\\\\S]*?(?=\\\\n\\\\d+\\\\. |$)`, \"g\");\n  const match = text.match(regex);\n  if (!match) return \"\";\n  return match[0].replace(label, \"\").trim();\n}\n\nfor (const item of $input.all()) {\n   // 섹션 추출\n  const raw = item.json.output;\n  const questionType = extract(\"1. 질문 유형\",raw);\n  const generalAnswer = extract(\"2. 일반 답변\",raw);\n  const knownKnowledge = extract(\"3. 기본 지식 요약\",raw);\n  const category = extract(\"4. 학습 카테고리\",raw);\n  const schedule = extract(\"5. 일정\",raw);\n  const lectures = extract(\"6. 수업 자료\",raw);\n  const blogs = extract(\"7. 블로그 자료\",raw);\n  \n  // 현재 시간\n  const now = new Date().toISOString();\n\n  return {\n      질문유형: questionType,\n      학습카테고리: category,\n      일반답변: generalAnswer,\n      기본지식요약: knownKnowledge,\n      일정: schedule,\n      수업자료: lectures,\n      블로그자료: blogs,\n      생성일시: now\n    }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -208
      ],
      "id": "b629eac3-8a97-45b3-bb8f-0037de255e4f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        -32
      ],
      "id": "cb496275-a674-449b-ac36-454f3ba9648f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        288
      ],
      "id": "63f1b427-6a3d-4579-8b70-a150eaa520c9",
      "name": "주간 트리거"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1648,
        288
      ],
      "id": "31b74b93-373b-4afb-9a99-f1fe2ed2a3ac",
      "name": "대화 목록 조회",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j6b0LCSbLRXjEQKG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        -1424,
        288
      ],
      "id": "bde4fb89-9090-4a6c-9a6d-79e7eab5b040",
      "name": "보고서 이미지 생성"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1200,
        288
      ],
      "id": "2dd4b5b9-82ac-463f-bd6f-a7edd3997f82",
      "name": "보고서 생성"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -976,
        288
      ],
      "id": "cbd7b242-ec07-4f62-ba00-1595d871d4ed",
      "name": "메일전송",
      "webhookId": "6c1b84b3-b1e8-468c-96ff-df983c3cb997"
    }
  ],
  "pinData": {},
  "connections": {
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chatbot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "크롤링 결과 판단(Notion 교안)": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "주간 크롤러": {
      "main": [
        [
          {
            "node": "velog 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일간 크롤러": {
      "main": [
        [
          {
            "node": "노션 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "저번주 데이터만 필터(임시 1년)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상세정보 가져오기": {
      "main": [
        [
          {
            "node": "HTML 태그 제거",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "1개씩": {
      "main": [
        [],
        [
          {
            "node": "상세정보 가져오기",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "주간 크롤러1": {
      "main": [
        [
          {
            "node": "tistory 크롤러",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 태그 제거": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chatbot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "교안 스토어": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "교안 스토어",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "교안 스토어",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "교안 스토어",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "lecture store(read)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "임베딩 문서 최적화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "blog store(read)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "lecture store(read)": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "blog store(read)": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "우리FISA 일정": {
      "ai_tool": [
        [
          {
            "node": "Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "0개 이상": {
      "main": [
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "0개 이상1": {
      "main": [
        [
          {
            "node": "1개씩1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "1개씩1": {
      "main": [
        [],
        [
          {
            "node": "임베딩 문서 최적화 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 문서 최적화": {
      "main": [
        [
          {
            "node": "임베딩 추출2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 문서 최적화 2": {
      "main": [
        [
          {
            "node": "임베딩 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "저번주 데이터만 필터(임시 1년)": {
      "main": [
        [
          {
            "node": "0개 이상",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저번주 데이터만 필터(임시 1년)2": {
      "main": [
        [
          {
            "node": "0개 이상1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "저번주 데이터만 필터(임시 1년)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 추출": {
      "main": [
        [
          {
            "node": "블로그 store(저장)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 추출2": {
      "main": [
        [
          {
            "node": "블로그 스토어 저장2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 store(저장)": {
      "main": [
        [
          {
            "node": "1개씩1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 스토어 저장2": {
      "main": [
        [
          {
            "node": "1개씩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 크롤러": {
      "main": [
        [
          {
            "node": "크롤링 결과 판단(Notion 교안)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tistory 크롤러": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "velog 크롤러": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주간 트리거": {
      "main": [
        [
          {
            "node": "대화 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대화 목록 조회": {
      "main": [
        [
          {
            "node": "보고서 이미지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "보고서 이미지 생성": {
      "main": [
        [
          {
            "node": "보고서 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "보고서 생성": {
      "main": [
        [
          {
            "node": "메일전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b1bb8652-8413-4dcd-a34c-6fcc19fd4255",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68f95072d6eeccd9215599b08992699f2f1d7fec8e4e146c79b722ddf70b36fb"
  },
  "id": "Mp0ypLuFQIltAZW5",
  "tags": []
}